{% extends "base.html" %} {% load static i18n l10n %} {% block body %}
<div
  id="loginscreen"
  class="flex justify-center place-items-center flex-col pt-8"
>
  <div class="max-w-lg m-4 flex flex-col flex-grow space-y-4">
    <div class="p-6 space-y-4">
      <div class="flex justify-center">
        <div class="w-28 h-28">
          <img
            src="{% if config.LOGO_IMAGE %}{% get_media_prefix %}{{ config.LOGO_IMAGE }}{% else %}/static/img/header-logo.svg{% endif %}"
          />
        </div>
      </div>
      <h2
        class="text-3xl uppercase font-header font-bold"
      >
        {% blocktrans with site_title=config.SITE_TITLE%}Sign up for {{ site_title }}{% endblocktrans %}s
      </h2>
      <p>
        {% blocktrans with first_name=application.first_name amount_euros=payment_amount_euros%}
        Hi {{ first_name }}, thanks for registering! Complete your
        membership by making the first payment of €{{ amount_euros }}.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
        After your first payment consecutive payments will de deducted automatically.
        {% endblocktrans %}
      </p>
      <div class="border-2 p-4 w-full">
      </div>
    </div>
  </div>
</div>
{% endblock %}
