{% extends "base.html" %} {% load static i18n l10n %} {% block body %}
<div
  id="loginscreen"
  class="flex justify-center place-items-center flex-col pt-8"
>
  <div class="max-w-lg m-4 flex flex-col flex-grow space-y-4">
    <div class="p-6 space-y-4">
      <div class="flex justify-center">
        <div class="w-28 h-28">
          <img
            src="{% if config.LOGO_IMAGE %}{% get_media_prefix %}{{ config.LOGO_IMAGE }}{% else %}/static/img/header-logo.svg{% endif %}"
          />
        </div>
      </div>
      <h2
        class="text-3xl uppercase font-header font-bold"
      >
        {% blocktranslate with site_title=config.SITE_TITLE%}Sign up for {{ site_title }}{% endblocktranslate %}
      </h2>
      <p>
        {% translate 'Thanks for your payment!' %}
      </p>
      <p>
        {% translate 'Your signup is now completed. You will receive a confirmation email on your provided email address when your signup has been approved.' %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
