{% extends "base.html" %} {% load static %} {% block body %}
<div id="loginscreen" class="flex justify-center place-items-center">
  <div class="max-w-lg m-4 flex flex-col flex-grow space-y-4">
    <div class="p-6 space-y-4">
      <div class="flex justify-center">
        <div class="w-28 h-28">
          <img
            src="{% if config.LOGO_IMAGE %}{% get_media_prefix %}{{ config.LOGO_IMAGE }}{% else %}/static/img/header-logo.svg{% endif %}"
          />
        </div>
      </div>
      <h2
        class="text-3xl uppercase font-header font-bold"
      >
      Inschrijven bij {{ config.SITE_TITLE }}
      </h2>
      <form method="post" class="grid grid-cols-2 gap-y-4">
        {% csrf_token %} {{ form.as_div }}
        <button type="submit">Aanmelden</button>
      </form>
    </div>
  </div>
</div>
<script>
  const paymentTierSelects = document.getElementById('id_payment_tier');
  const payMoreField = document.querySelector('.pay-more > input');
  if (paymentTierSelects) {
    paymentTierSelects.querySelectorAll('input').forEach((input) => {
      input.addEventListener('change', (event) => {
        const selected = event.target.value;
        if (selected === "higher") {
          payMoreField.removeAttribute('disabled');
        } else {
          payMoreField.setAttribute('disabled', 'disabled');
        }
      });
    });
  }
  if (paymentTierSelects.querySelector('input:checked').value === "higher") {
    payMoreField.removeAttribute('disabled');
  } else {
    payMoreField.setAttribute('disabled', 'disabled');
  }
</script>
{% endblock %}
