{% extends "admin/change_list.html" %} {% load i18n %}
{% block extrastyle %}
{{ block.super }}
<style>
  .object-tools li > form > input.rebuildlink {
    display: block;
    float: left;
    padding: 3px 12px;
    background: var(--object-tools-bg);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 15px;
    line-height: 1.25rem;
    margin: 0px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-decoration: none;
  }
</style>
{% endblock %}
{% block object-tools-items %}
    {{ block.super }}
    <li>
        <form action="{% url 'admin:rebuild_theme' %}" method="post">
            {% csrf_token %}
        <input type="submit" value="Rebuild theme" class="rebuildlink" />
        </form>
    </li>
{% endblock %}
