{% extends "base.html" %} {% load static %} {% block body %} {% block header %}
<nav
  class="flex border-b-2 p-4 lg:px-16 items-center justify-between flex-wrap border-primary"
>
  {% block navbar %}{% endblock navbar %}
</nav>
{% endblock header %}
<main>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block main %}{% endblock main %}</main>
{% endblock body %}
